<div class="bg-success p-2 text-white">
  <div class="p-3 mb-2 bg-warning text-dark">

  <app-contenidoheader ></app-contenidoheader>
</div>
<div class="row">
  <div class="col-4 ">
    <p>
      <br>
      <br>
    </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1200/323" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/321" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/322" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <p>
    <br>
  </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1200/323" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/321" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/322" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <p>
    <br>
  </p>
  <a routerLink="/contenidoanteproyecto"  >
    <button type="submit" class="btn btn-primary mb-3" onclick="alert('Registro Exitoso!')" >Enviar</button>

  </a>
</div>
  <div class="col-8"style="
  padding-left: 80px;">
  <div style="
  padding-left: 90px;
  padding-top: 30px;" class="text-dark ">

  <h1>Objetivos</h1>
</div>

<div style="
padding-left: 90px"  >

<form>
  <label for="miTexto">Ingresa tu Objetivo General</label>
  <textarea id="miTexto" name="miTexto" rows="10" cols="70">

  </textarea>
</form>
<form>
  <label for="miText">Ingresa tus Objetivos especificos </label>
  <textarea id="miText" name="miText" rows="10" cols="70">

  </textarea>
</form>

</div>
</div>

</div>


</div>




<app-homefooter ></app-homefooter>
