<div class="bg-info-subtle p-2 text-dark bg-opacity-75">
  <div class="p-3 mb-2 bg-warning text-dark">

  <app-contenidoheader ></app-contenidoheader>
</div>
<div class="row">
  <div class="col-4 ">
    <p>
      <br>
    </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide " data-bs-ride="carousel"  class="border border-danger">
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <img src="https://picsum.photos/1200/323" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/321" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/322" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <p>
    <br>
  </p>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel" class="border border-5 border-warning">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://picsum.photos/1200/323" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/321" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://picsum.photos/1200/322" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
  <p>
    <br>
  </p>
  <a routerLink="/contenidoanteproyecto"  >
    <button type="submit" class="btn btn-primary mb-3" onclick="alert('Registro Exitoso!')" >Enviar</button>

  </a>
</div>
  <div class="col-8" style="
  padding-left: 80px;" >
  <div style="
padding-left: 90px;
padding-top: 30px;" class="text-dark ">

  <h1>Planteamiento</h1>
</div>

<div>
<label for="miTexto" style="
padding-left: 90px;">Ingresa tu Planteamiento</label>
<form>

  <textarea id="miTexto" name="miTexto" rows="24" cols="70">
  </textarea>

</form>
</div>
</div>

</div>


</div>




<app-homefooter ></app-homefooter>
