<div class="bg-info-subtle p-0 text-dark bg-opacity-75">
  <div class="p-2 mb-2 bg-warning text-dark">
    <app-contenidoheader></app-contenidoheader>
  </div>
  <div class="row">
    <div class="col-8">
      
      <div class="contenido-carrusel">
        <div class="col-4" >
          <div 
            id="carouselExampleSlidesOnly"
            class="carousel-slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner" >
              <div class="carousel-item active">
                <img
                  src="https://picsum.photos/1200/323"
                  class="d-block"
                  
                  alt="Imagen 1"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://picsum.photos/1200/321"
                  class="d-block"
                  
                  alt="Imagen 2"
                />
              </div>
              <div class="carousel-item">
                <img
                  src="https://picsum.photos/1200/322"
                  class="d-block"
                  
                  alt="Imagen 3"
                />
              </div>
            </div>
          </div>
        </div>
      </div>     

      <h1>Descripción</h1>
      <p>Ingresa tu descripción</p>

      <div class="formulario">
        <form>
          <label
            for="miTexto"
            style="
              font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
                'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
              align-items: center;">
            </label>

          <textarea id="miTexto" name="miTexto" rows="24" cols="70"> </textarea>
        </form>
        <a routerLink="/contenidoanteproyecto">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            style="width: 536px"
            onclick="alert('Registro Exitoso!')"
          >
            Enviar
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<app-homefooter></app-homefooter>
