<form class="row g-3 p-2">
  <div class="col-auto">
    <label for="staticEmail2" class="visually-hidden">Email</label>
    <input type="email"  class="form-control"  placeholder="Email">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Password</label>
    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
  </div>
  <div class="col-auto p-5" >
   <a   > <button type="submit" class="btn btn-primary mb-3" >ingresar</button> </a>
  </div>
</form>
