<div class="row">
  <div class="col-10 p-0 ">
<nav class="navbar bg-dark" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/icons/icono.svg" alt="Bootstrap" width="26" height="19">
    </a>
  </div>
</nav>
</div>
<div class="col-2 p-0 ">
  <nav class="navbar bg-dark" data-bs-theme="dark">
    <div class="container-fluid ">
      
      <form class="d-flex " role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
</div>
