<footer class="container fluid pt-5">
  <div class="row pb-5">
    <div class="col-12 col-md-4">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione, vel cum
      rerum quod maxime suscipit saepe velit? Blanditiis, accusantium debitis.
      Facilis reiciendis aliquam officiis consequatur aut hic explicabo quod
      ducimus!
    </div>
    <div class="col-12 col-md-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae
      odio veniam nostrum perspiciatis iusto alias consectetur iure ut quas
      numquam, qui aspernatur, ex facere, laudantium fugit quibusdam velit odit?
    </div>
    <div class="col-12 col-md-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis molestiae
      odio veniam nostrum perspiciatis iusto alias consectetur iure ut quas
      numquam, qui aspernatur, ex facere, laudantium fugit quibusdam velit odit?
    </div>
  </div>
  <div class="row" id="copy">
   <div class="col">
      <p class="text-center">
        <small>Copyright &copy; - Scorpion.net </small>
      </p>
   </div>


  </div>
</footer>

