<app-contenidoheader></app-contenidoheader>
<div class="row">
<div class="col">
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectodescripcion"  > <button type="submit" class="btn btn-primary mb-3" >descripcion</button></a>
      <li>
        <a routerLink="/contenidoanteproyectodescripcion" (click)="cargarPersonas">Mostrar</a>
      </li>
     </div>
  </li>
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectoplanteamiento"  > <button type="submit" class="btn btn-primary mb-3" >Planteamiento</button></a>
     </div>
  </li>
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectohipotesis"  > <button type="submit" class="btn btn-primary mb-3" >Hipotesis</button></a>
     </div>
  </li>

</ul>
</div>
<div class="col">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="col-auto p-5" >
        <a routerLink="/contenidoanteproyectoobjetivo"  > <button type="submit" class="btn btn-primary mb-3" >Objetivo</button></a>
       </div>
    </li>
    <li class="list-group-item">
      <div class="col-auto p-5" >
        <a routerLink="/contenidoanteproyectojustificacion"  > <button type="submit" class="btn btn-primary mb-3" >Justificación</button></a>
       </div>
    </li>
    <li class="list-group-item">
      <div class="col-auto p-5" >
        <a routerLink="/contenidoanteproyectotitle"  > <button type="submit" class="btn btn-primary mb-3" >Título tentativo de la investigación</button></a>
       </div>
    </li>
    <li class="list-group-item">
      <div class="col-auto p-5" >
        <a routerLink="/contenidoanteproyectosugerencias"  > <button type="submit" class="btn btn-primary mb-3" >Sugerencias</button></a>
       </div>
    </li>

  </ul>
  </div>
</div>