<app-contenidoheader></app-contenidoheader>
<div class="row">
<div class="col">
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectodescripcion"  > <button type="submit" class="btn btn-primary mb-3" >descripcion</button></a>
     </div>
  </li>
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectoplanteamiento"  > <button type="submit" class="btn btn-primary mb-3" >Planteamiento</button></a>
     </div>
  </li>
  <li class="list-group-item">
    <div class="col-auto p-5" >
      <a routerLink="/contenidoanteproyectohipotesis"  > <button type="submit" class="btn btn-primary mb-3" >Hipotesis</button></a>
     </div>
  </li>

</ul>
</div>
<div class="col">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="col-auto p-5" >
        <a routerLink="/contenidoanteproyectoobjetivo"  > <button type="submit" class="btn btn-primary mb-3" >Objetivo</button></a>
       </div>
    </li>
    <li class="list-group-item">A second item</li>
    <li class="list-group-item">A third item</li>
    <li class="list-group-item">A fourth item</li>
    <li class="list-group-item">And a fifth one</li>
  </ul>
  </div>
</div>


