<app-contenidoheader ></app-contenidoheader>
<div class="row">
<div id="carouselExampleSlidesOnly" class="carousel slide col-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/1200/403" class="d-block w-150" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/1200/404" class="d-block w-150" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/1200/405" class="d-block w-150" alt="...">
    </div>
  </div>
</div>

<div class="col-4  bg-danger">
<div class="mb-3" >
  <label for="exampleFormControlInput1" class="form-label">Nombre del Anteproyecto</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Descricion</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<div class="col-auto p-5" >
  <a routerLink="/contenido"  >
    <button type="submit" class="btn btn-primary mb-3" onclick="alert('Registro Exitoso!')" >Registrar</button>

  </a>

</div>
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide col-4" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://picsum.photos/1200/403" class="d-block w-150" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/1200/404" class="d-block w-150" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://picsum.photos/1200/405" class="d-block w-150" alt="...">
    </div>
  </div>
</div>
</div>

<app-homefooter></app-homefooter>
